.biwako:before {
  content: "(琵)";
  color: #8d6449;
}

.hyogo:before {
  content: "(兵)";
  color: #c1e4e9;
}

.kyoto:before {
  content: "(京)";
  color: #9d5b8b;
}

.mie:before {
  content: "(三)";
  color: #b0ca71;
}

.osaka:before {
  content: "(大)";
  color: #3e62ad;
}

.shika:before {
  content: "(鹿)";
  color: #8d6449;
}

.wakayama:before {
  content: "(和)";
  color: #ec6d71;
}
